/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: black;
}

nav, li {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: .75;
  color: #fff;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f67b5;
  opacity: 1;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f67b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Roboto", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

i.icon1 {
  background-image: url("images/guidepost.png");
  background-size: contain;
  background-position: center;
  width: 48px;
  height: 48px;
}

section:not(.hero):not(.footer):nth-child(even) {
  background-color: #f4f4f4;
}

button.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgba(#ee2028, 0);
  opacity: 1;
  color: white;
  font-size: 20px;
}

/* Header Styles */
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: fadein 1s .5s forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: 'Roboto', sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

/* Hero Style */
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero h1 {
  font: bold 60px "Roboto", sans-serif;
  letter-spacing: 50px;
  text-transform: uppercase;
  color: white;
}

.hero h3 {
  font: normal 28px "Roboto", sans-serif;
  margin-bottom: 40px;
  color: white;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  margin-top: 100px;
  animation: slidefadein 1s 1s forwards;
  opacity: 0;
}

@keyframes slidefadein {
  100% {
    margin: 0;
    opacity: 1;
  }
}

/* Destinations Section */
.destinations .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destinations .grid li.small {
  flex-basis: 30%;
}

.destinations .grid li.large {
  flex-basis: 70%;
}

/* Packages Section */
.packages .grid {
  height: 100%;
}

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

.packages h3, .packages h2 {
  font-size: 2.2rem;
  color: #1d1e20;
  padding: 10px;
  opacity: .75;
}

.packages p {
  font-size: 1.5rem;
}

.packages img.logos {
  justify-content: center;
  width: 64px;
  height: 64px;
}

/* Testimonial Section */
.testimonials .grid {
  height: 100%;
}

.testimonials h1 {
  font-size: 2.2rem;
  color: #1d1e20;
  padding: 10px;
  opacity: .75;
  text-align: center;
}

.testimonials .grid li {
  flex-basis: 100%;
  text-align: center;
  padding: 50px;
  margin: 0 25%;
}

.testimonials h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: lighter;
}

.testimonials p {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #1d1e20;
  padding: 10px;
  opacity: .75;
  font-weight: bold;
  letter-spacing: 3px;
}

/* Learn More Section */
.learnmore a.btn {
  padding: 20px 46px;
}

.learnmore .grid {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learnmore input {
  font-size: 1.7rem;
  width: 100%;
}

.learnmore button {
  justify-content: center;
}

/* Footer  */
.footer {
  background: #224959;
  font-weight: lighter;
}

.footer p {
  color: white;
  opacity: .60;
  margin: 0;
}

section.footer {
  padding: 80px;
}

/* Media Queries */
@media (max-width:850px) {
  section {
    padding: 0px;
    margin: 0 0 20px;
  }

  header {
    flex-direction: column;
    padding: 20px 50px;
  }

  ul>li {
    padding: 5px;
  }

  .hero-content-area {
    font-size: 100%;
  }

  .hero h1 {
    letter-spacing: 10px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .destinations .grid li.small, .destinations .grid li.large {
    flex-basis: 100%;
  }

  .packages .grid li, .testimonials .grid li {
    margin: 0;
    padding: 0;
  }

  .packages .grid {
    flex-direction: column;
  }
}